**list=[]**

In [1]:
our_list=['sam',12,'ravi',3.14,True,'sam','ravi']

In [2]:
print(our_list)

['sam', 12, 'ravi', 3.14, True, 'sam', 'ravi']

In [3]:
for item in our_list:
    print(item)

sam
12
ravi
3.14
True
sam
ravi

In [4]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [2]:
employees=['Sam','Ravi','Amit','Zoya','Vijay','Aditi']

In [10]:
print(employees)

['Sam', 'Ravi', 'Amit', 'Zoya', 'Vijay', 'Aditi']

In [11]:
print('Number of employee in employees list are: ',len(employees))

Number of employee in employees list are:  6

In [12]:
#indexing will start from 0 and goes upto len minus one
for index in range(len(employees)):
  print(f'Index {index} stored values {employees[index]} ')

Index 0 stored values Sam
Index 1 stored values Ravi
Index 2 stored values Amit
Index 3 stored values Zoya
Index 4 stored values Vijay
Index 5 stored values Aditi

In [13]:
for emp in employees:
  print(emp,end='\t')

Sam	Ravi	Amit	Zoya	Vijay	Aditi

**Methods in list**

In [14]:
#Add the item in list 1.list.append(item): Append object to the end of the list.
employees.append('Neha')
print(employees)
#

['Sam', 'Ravi', 'Amit', 'Zoya', 'Vijay', 'Aditi', 'Neha']

In [15]:
#Add the item in list 2. list.insert(index,item): Insert object before index.
employees.insert(2,'Raj')
print(employees)

['Sam', 'Ravi', 'Raj', 'Amit', 'Zoya', 'Vijay', 'Aditi', 'Neha']

In [16]:
 #Extend list by appending elements from the iterable.
 # 3. list.extend(anotherlist): it will add multiple items at the end of the list
new_list=['Moin','Ali','Megha']
employees.extend(new_list)

print(employees)

['Sam', 'Ravi', 'Raj', 'Amit', 'Zoya', 'Vijay', 'Aditi', 'Neha', 'Moin', 'Ali', 'Megha']

In [17]:
cars=['Honda','Tata','BMW','Tesla']

In [18]:
print('Number of cars in list ',len(cars))
print(cars)
print('First car in list ',cars[0])
print('Last car in list ',cars[-1])

Number of cars in list  4
['Honda', 'Tata', 'BMW', 'Tesla']
First car in list  Honda
Last car in list  Tesla

In [19]:
new_car=input('Enter the car name: ')
cars.append(new_car)
print('Number of cars in list ',len(cars))
print(cars)

Enter the car name: Audi
Number of cars in list  5
['Honda', 'Tata', 'BMW', 'Tesla', 'Audi']

**Removing the items from list**
* remove()
* pop()
* clear()

In [21]:
employees.remove('Sam') #Remove first occurrence of value.It will remove given item

In [22]:
print(employees)

['Ravi', 'Raj', 'Amit', 'Zoya', 'Vijay', 'Aditi', 'Neha', 'Moin', 'Ali', 'Megha']

In [23]:
print(our_list)

['sam', 12, 'ravi', 3.14, True, 'sam', 'ravi']

In [24]:
our_list.remove('sam')

In [25]:
print('after removing sam fro our_list')
our_list

after removing sam fro our_list

[12, 'ravi', 3.14, True, 'sam', 'ravi']

In [30]:
our_list.remove(12)

In [31]:
print(our_list)

[3.14, True, 'sam']

In [32]:
print(employees)

['Ravi', 'Raj', 'Amit', 'Zoya', 'Vijay', 'Aditi', 'Neha', 'Moin', 'Ali', 'Megha']

In [33]:
employees.pop(2) #Remove and return item at index

'Amit'

In [34]:
employees.pop() # Remove item from last (default last).

'Megha'

In [35]:
print(employees)

['Ravi', 'Raj', 'Zoya', 'Vijay', 'Aditi', 'Neha', 'Moin', 'Ali']

In [4]:
print('Number of  Employees in list ',len(employees))
print(employees)

Number of  Employees in list  6
['Sam', 'Ravi', 'Amit', 'Zoya', 'Vijay', 'Aditi']

In [5]:
employees.clear() # list.clear() Removes all the items from list

In [6]:
print('After Clear')
print('Number of  Employees in list ',len(employees))
print(employees)

After Clear
Number of  Employees in list  0
[]

In [7]:
cars=['Honda','Tata','BMW','Tesla']

In [10]:
cars.append('Proton')
cars.append('Maruti')
cars.append('Mahindra')
cars.append('BMW')
cars.append('Tata')

In [12]:
print(cars)

['Honda', 'Tata', 'BMW', 'Tesla', 'Proton', 'Proton', 'Maruti', 'Mahindra', 'BMW', 'Tata']

In [13]:
#list sorting list.sort(): Sort the list in ascending order and return None.
cars.sort()

In [14]:
print(cars)

['BMW', 'BMW', 'Honda', 'Mahindra', 'Maruti', 'Proton', 'Proton', 'Tata', 'Tata', 'Tesla']

In [19]:
#list reverse()
cars.reverse()
print(cars)

['Tesla', 'Tata', 'Tata', 'Proton', 'Proton', 'Maruti', 'Mahindra', 'Honda', 'BMW', 'BMW']

In [20]:
#how many 'Tata' in this list :
#list.count(item):return number of occurrences of item
cars.count('Tata')

2

In [21]:
cars.count('Proton')

2

In [24]:
cars.count('Mxskdfjfdkj')

0

In [26]:
employees

[]

In [27]:
employees=['Sam','Ravi','Amit','Zoya','Vijay','Aditi']
print(employees)

['Sam', 'Ravi', 'Amit', 'Zoya', 'Vijay', 'Aditi']

In [28]:
employees.sort(reverse=True)
print(employees)

['Zoya', 'Vijay', 'Sam', 'Ravi', 'Amit', 'Aditi']

In [30]:
shopping_cart=[]

In [31]:
choice='y'
while choice.lower()=='y':
  item=input('Enter the item name: ')
  shopping_cart.append(item)
  choice=input('Do you want to add more items? (y/n): ')

print('Your shopping cart contains:')
for item in shopping_cart:
  print(item)

Enter the item name: Pizza
Do you want to add more items? (y/n): y
Enter the item name: Burger
Do you want to add more items? (y/n): y
Enter the item name: Cold Coffee
Do you want to add more items? (y/n): n
Your shopping cart contains:
Pizza
Burger
Cold Coffee

**Day-02 Exercise-02**

---
You are creating a simple library management system that stores book name in a list.
The program let you do the following things
1. Add Book
2. Display All books


---
Hint: Use list of books and while loop to do the above tasks

In [32]:
books=['Basic of Python','AI from Start','Power BI for advanced Learners','You can win']

In [33]:
while True:
  print('1. Add Book')
  print('2. Display All books')
  print('3. Exit')
  choice=input('Enter your choice(1-3): ')
  if choice=='1':
    book=input('Enter the book name: ')
    books.append(book)
    print('Book added successfully')
  elif choice=='2':
    print('All books in library are: ')
    for book in books:
      print(book)
  elif choice=='3':
    print('Exiting from Program')
    break
  else:
    print('Invalid Choice')

1. Add Book
2. Display All books
3. Exit
Enter your choice(1-3): 2
All books in library are:
Basic of Python
AI from Start
Power BI for advanced Learners
You can win
1. Add Book
2. Display All books
3. Exit
Enter your choice(1-3): 1
Enter the book name: MySQL
Book added successfully
1. Add Book
2. Display All books
3. Exit
Enter your choice(1-3): 2
All books in library are:
Basic of Python
AI from Start
Power BI for advanced Learners
You can win
MySQL
1. Add Book
2. Display All books
3. Exit
Enter your choice(1-3): 5
Invalid Choice
1. Add Book
2. Display All books
3. Exit
Enter your choice(1-3): 3
Exiting from Program