**A set is a mutable collection of unique, unordered, itmes**
**{}**

In [6]:
our_set={1,2,3,4,5,1,4,7}

In [7]:
print(our_set)

{1, 2, 3, 4, 5, 7}

In [8]:
second_set={'Raj','Ravi','Sam','Amit'}

In [11]:
print(second_set)

{'Ravi', 'Raj', 'Sam', 'Amit'}

In [12]:
for i in second_set:
    print(i,end=' ')

Ravi Raj Sam Amit

In [13]:
# add item in set
second_set.add('Raju')

In [15]:
print('Number of items after adding one items',len(second_set))
for item in second_set:
    print(item,end=' ')

Number of items after adding one items 5
Raj Amit Sam Ravi Raju

In [16]:
second_set.add('Nilesh')

In [17]:
print('Number of items after adding one items',len(second_set))
for item in second_set:
    print(item,end=' ')

Number of items after adding one items 6
Raj Nilesh Amit Sam Ravi Raju

In [18]:
# remove item from set
second_set.remove('Nilesh')

In [21]:
second_set.remove('Sam')

In [23]:
print('Number of items after removing 2 items',len(second_set))
for item in second_set:
    print(item,end='\t')

Number of items after removing 2 items 4
Raj	Amit	Ravi	Raju

In [24]:
second_set.remove('Sam')

KeyError: 'Sam'

In [25]:
second_set.discard('Raju')

In [26]:
print('Number of items after discard',len(second_set))
for item in second_set:
    print(item,end='\t')

Number of items after discard 3
Raj	Amit	Ravi

In [29]:
second_set.discard('Raju') #discord removes the item from set but no error if item not found inside set

In [30]:
second_set.clear()

In [32]:
print('Number of items after clear',len(second_set))
for item in second_set:
    print(item,end='\t')

Number of items after clear 0

In [33]:
names=['Raj','Ravi','Amit','Raj','Sam','Ravi']

In [34]:
print(names)

['Raj', 'Ravi', 'Amit', 'Raj', 'Sam', 'Ravi']

In [35]:
unique_names=set(names)
print(unique_names)

{'Sam', 'Raj', 'Ravi', 'Amit'}