**Python has two main types of loops**
*   for
*   while

syntax: for num in range(10):
         print(num)

In [1]:
for num in range(10):
  print(num)                  #range starts from 0 goes upto size-1 e.g. 0 goes upto 9

0
1
2
3
4
5
6
7
8
9

In [4]:
for num in range(10):
  print(num,end='\t')

0	1	2	3	4	5	6	7	8	9

**range(start,end,step)**

In [5]:
for num in range(5,10,2):
  print(num)

5
7
9

In [7]:
for i in range(0,100,5):
  print(i,end=' ')

0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [9]:
#print numbers from 1 to 100
for num in range(1,101):
  print(num,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
#even numbers , odd numbers, table of numbers

In [10]:
#odd numbers : Show all odd numbers from 1 to 100
for num in range(1,101,2):
  print(num,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [11]:
for num in range(101):
  if(num%2==1):
    print(num,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

**Print all odd numbers from 1 to 50 using for loop**

In [34]:
#Table of given number
given_number=int(input('Enter a number to find out table of number: \t'))
print(f'Table of {given_number} as follows')
for i in range(1,11):
    print(f'{given_number}*{i} = {given_number*i}')       #print(given_number,'x',i,'=',given_number*i)

Enter a number to find out table of number: 	12
Table of 12 as follows
12*1 = 12
12*2 = 24
12*3 = 36
12*4 = 48
12*5 = 60
12*6 = 72
12*7 = 84
12*8 = 96
12*9 = 108
12*10 = 120

In [23]:
msg='welcome to python'
for ch in msg:
  print(ch,end='\t')

w	e	l	c	o	m	e	 	t	o	 	p	y	t	h	o	n

In [ ]:
# syntax:
# while(condition):
#      #statement block

In [24]:
num=0
while(num<5):
  print(num)
  num=num+1

0
1
2
3
4

* **break**: to break down a loop to end the loop
* **continue:**: skip that particular iteration and loop will continue after that

In [27]:
for i in range(1,100):
  if(i%5==0):
    break
  print(i,end='\t')

1	2	3	4

In [28]:
for i in range(1,100):
  if(i%5==0):
   continue
  print(i,end='\t')

1	2	3	4	6	7	8	9	11	12	13	14	16	17	18	19	21	22	23	24	26	27	28	29	31	32	33	34	36	37	38	39	41	42	43	44	46	47	48	49	51	52	53	54	56	57	58	59	61	62	63	64	66	67	68	69	71	72	73	74	76	77	78	79	81	82	83	84	86	87	88	89	91	92	93	94	96	97	98	99

In [33]:
count=10
while count>0:
  print(count,end='\t')
  count=count-1  #count=count-1

10	9	8	7	6	5	4	3	2	1

In [43]:
choice='y'
while(choice=='y'):
  given_number=int(input('Enter a number to find out table of number: \t'))
  print(f'Table of {given_number} as follows')
  for i in range(1,11):
     print(f'{given_number}*{i} = {given_number*i}')
  choice=input('Do you wanna continue..if yes press y to exit press any other key').lower()

Enter a number to find out table of number: 	8
Table of 8 as follows
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
8*10 = 80
Do you wanna continue..if yes press y to exit press any other keyy
Enter a number to find out table of number: 	6
Table of 6 as follows
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
6*10 = 60
Do you wanna continue..if yes press y to exit press any other keyy
Enter a number to find out table of number: 	13
Table of 13 as follows
13*1 = 13
13*2 = 26
13*3 = 39
13*4 = 52
13*5 = 65
13*6 = 78
13*7 = 91
13*8 = 104
13*9 = 117
13*10 = 130
Do you wanna continue..if yes press y to exit press any other keyn

In [44]:
saved_username='admin'
saved_password='admin@123'
while True:
    username=input('Enter username: ')
    password=input('Enter password: ')
    if username==saved_username and password==saved_password:
        print('Login Successful')
        break

    else:
        print('Login Failed')
        print('Incorrect username or password Please try again')
        continue

Enter username: sam
Enter password: samasfjsdakfj
Login Failed
Incorrect username or password Please try again
Enter username: sam1256
Enter password: asdkfjsdf
Login Failed
Incorrect username or password Please try again
Enter username: admin
Enter password: admin@123
Login Successful

In [46]:
saved_username='admin'
saved_password='admin@123'
login_attempts=3
while login_attempts>0:
    username=input('Enter username: ')
    password=input('Enter password: ')
    if username==saved_username and password==saved_password:
        print('Login Successful')
        break

    else:
        print('Login Failed')
        login_attempts=login_attempts-1
        print(f'You have {login_attempts} attempts left')
        if login_attempts==0:
            print('You have exceeded the maximum number of attempts')
            print('Your account has been locked')
            break

Enter username: sadf
Enter password: asdf
Login Failed
You have 2 attempts left
Enter username: admin
Enter password: admin@123
Login Successful

**Day-02 Exercise-01**
---
##Write a program that asks the users to enter a 4 digit atm pin (saved_atm_pin =1290)
* Allow only 3 attempts
* if pin is correct -print "Access Granted"
* if pin is wrong- reduce attempts and print 'Wrong ATM PIN attempts left: ----'
* After 3 wrong attempts print 'ATM Card locked for 24 hours'