lambda arguments:expression

In [1]:
#Simple functions
def welcome(name):
  return f'Welcome to functions in Python Mr.\\Ms. {name}'

In [2]:
welcome('sam dicosta')

'Welcome to functions in Python Mr.\\Ms. sam dicosta'

In [4]:
msg=lambda n:f'Welcome to lambda functions in Python Mr.\\Ms {n}'

In [5]:
msg('neel')

'Welcome to lambda functions in Python Mr.\\Ms neel'

In [6]:
cube_num=lambda num:num*num*num

In [8]:
number=int(input('Enter a number  to find out cube: '))

print(f'The cube of {number} is {cube_num(number)}')

Enter a number  to find out cube: 5
The cube of 5 is 125

In [9]:
#multiple arguments
add=lambda a,b,c:a+b+c

In [10]:
print(add(1,2,3))

6

In [12]:
fullname=lambda fname,mname,lname:f'{fname} {mname} {lname}'

In [14]:
first_name=input('Enter your first name: ')
middle_name=input('Enter your middle name: ')
last_name=input('Enter your last name: ')
print(fullname(first_name,middle_name,last_name))

Enter your first name: Aalia
Enter your middle name: Binti Otman
Enter your last name: Zahir
Aalia Binti Otman Zahir

In [16]:
add=lambda n1,n2:n1+n2
sub=lambda n1,n2:n1-n2
mul=lambda n1,n2:n1*n2
div=lambda n1,n2:n1/n2

In [17]:
while True:
  print('1.Addition')
  print('2.Subtraction')
  print('3.Multiplication')
  print('4.Division')
  print('5.Exit')
  choice=int(input('Enter your choice(1-5):'))
  if choice==5:
    print('Existing from Calculator')
    break
  if choice not in [1,2,3,4]:
    print('Invalid choice')
    continue
  first_number=float(input('Enter First Number'))
  second_number=float(input('Enter Second Number'))
  if choice==1:
    print(f'{first_number}+{second_number}={add(first_number,second_number)}')
  elif choice==2:
    print(f'{first_number}-{second_number}={sub(first_number,second_number)}')
  elif choice==3:
    print(f'{first_number}*{second_number}={mul(first_number,second_number)}')
  elif choice==4:
    print(f'{first_number}/{second_number}={div(first_number,second_number)}')

1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exit
Enter your choice(1-5):3
Enter First Number12
Enter Second Number5
12.0*5.0=60.0
1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exit
Enter your choice(1-5):1
Enter First Number45
Enter Second Number15
45.0+15.0=60.0
1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exit
Enter your choice(1-5):2
Enter First Number30.50
Enter Second Number12.45
30.5-12.45=18.05
1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exit
Enter your choice(1-5):5
Existing from Calculator

In [23]:
list_numbers=[10,20,30,40]
print(list_numbers)  #map(function,iterable) #Make an iterator that computes the function using arguments from
#each of the iterables.  Stops when the shortest iterable is exhausted.

[10, 20, 30, 40]

In [24]:
double_numbers=list(map(lambda n:n*2,list_numbers))
print(double_numbers)

[20, 40, 60, 80]

In [25]:
square_numbers=list(map(lambda n:n*n,list_numbers))
print(square_numbers)

[100, 400, 900, 1600]

In [21]:
greeting='welcome to map'
new_greet=list(map(lambda n:n.upper(),greeting))
print(new_greet)

['W', 'E', 'L', 'C', 'O', 'M', 'E', ' ', 'T', 'O', ' ', 'M', 'A', 'P']

In [22]:
set_numbers={1,2,3}
double_set_numbers=set(map(lambda x:x*2,set_numbers))
print(double_set_numbers)

{2, 4, 6}

In [26]:
list_nums=[1,2,3,4,5,6,7,8,14]

In [27]:
even_numbers=list(filter(lambda x:x%2==0,list_nums))
print(even_numbers)
#

[2, 4, 6, 8, 14]

In [28]:
my_odd=list(filter(lambda x:x%2!=0,range(100)))
print(my_odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [36]:
students_marks=[
    {'name':'sam','marks':95},
    {'name':'raj','marks':55},
    {'name':'ram','marks':68},
    {'name':'deep','marks':85},
    {'name':'zoya','marks':45},
    {'name':'grima','marks':95},

]
print('Students Marks')
for student in students_marks:
  print(student['name'],student['marks'])

Students Marks
sam 95
raj 55
ram 68
deep 85
zoya 45
grima 95

In [37]:
selected_students=list(filter(lambda x:x['marks']>60,students_marks))
print('Selected Student List')
for student in selected_students:
    print(student['name'], student['marks'])

Selected Student List
sam 95
ram 68
deep 85
grima 95

## Create a list of products with name,stock , and price
Filter products based on stock in list ,if stock less than 10
e.g.
* {'name':'mouse','stock':10, price:'200'}
* {'name':'keyboard','stock':8, price:'100'}

#Recursive functions:
* if function is calling to itself ,then the function is known as recursive function

In [40]:
def factorial(num):
  if num==1:
    return 1
  else:
    return num*factorial(num-1)

In [44]:
number=int(input('Enter a number to find out factorial: '))
print(f'The factorial of {number} is {factorial(number)}')

Enter a number to find out factorial: 5
The factorial of 5 is 120

In [45]:
def reversed_string(string):
  if len(string) <=1:
    return string
  else:
    return  string[-1]+reversed_string(string[:-1])

In [46]:
reversed_string('welcome')

'emoclew'

In [47]:
reversed_string('hi')

'ih'

In [48]:
reversed_string('sam')

'mas'

In [52]:
mytext=input('Text to reverse: \t')
print(f'Original Text:\t {mytext} \nReversed Text:\t {reversed_string(mytext)}')

Text to reverse: 	Anaconda
Original Text:	 Anaconda
Reversed Text:	 adnocanA

##### Write a recursive function that takes a number and returns sum of its digit

---
* e.g. numpber: 123 Sum of its digit {1+2+3} =6
### **Hints**
* define function sum_of_digits(number)
* number%10 to get last digit (extract the last digit +call function for remaining digits)
* number//10 to remove last digit
* base when number becomes 0

In [60]:
def sum_of_digits(number):
  if number==0:
    return 0
  else:
   return (number%10)+sum_of_digits(number//10)

In [61]:
my_num=int(input('Enter a number to find out sum of its digits: '))
print(f'The sum of digits of {my_num} is {sum_of_digits(my_num)}')

Enter a number to find out sum of its digits: 124
The sum of digits of 124 is 7

In [62]:
def sum_of_digits(n):
    n=abs(n)
    if n==0:
       return 0
    return(n%10)+sum_of_digits(n//10)

In [63]:
sum_of_digits(123)

6