In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/sample_data/Titanic-Dataset.csv')

In [8]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [5]:
df.shape

(891, 12)

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:
df_new=df.drop(['Ticket','Cabin'],axis=1)

In [11]:
df_new.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S

In [12]:
df_new.drop(['SibSp',	'Parch'],axis=1,inplace=True)

In [13]:
df_new.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,S

In [15]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [16]:
df_new.drop(['Embarked'],axis=1)

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500
...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,13.0000
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,30.0000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,23.4500
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,30.0000
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,7.7500

In [17]:
df_new.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,S

In [18]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   Fare         891 non-null    float64
 7   Embarked     889 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 55.8+ KB

In [21]:
df_new.shape

(891, 8)

In [19]:
df_new.describe()

       PassengerId    Survived      Pclass         Age        Fare
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118   32.204208
std     257.353842    0.486592    0.836071   14.526497   49.693429
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    7.910400
50%     446.000000    0.000000    3.000000   28.000000   14.454200
75%     668.500000    1.000000    3.000000   38.000000   31.000000
max     891.000000    1.000000    3.000000   80.000000  512.329200

In [20]:
df_new.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
Fare             0
Embarked         2
dtype: int64

In [22]:
df_new=df_new.dropna()

In [23]:
df_new.shape

(712, 8)

In [33]:
df_new.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
Fare           0
Embarked       0
dtype: int64

In [25]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Name         712 non-null    object
 4   Sex          712 non-null    object
 5   Age          712 non-null    float64
 6   Fare         712 non-null    float64
 7   Embarked     712 non-null    object
dtypes: float64(2), int64(3), object(3)
memory usage: 50.1+ KB

In [27]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [31]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [57]:
data={
    "Name":['Sam','Ravi','Zoya','Ali','Xi','Chang','Deep','Neha','Sam'],
    "Age":[35,None,35,30,32,35,40,35,35],
    "Department":['IT','Web-Development','App-Development','IT','Web-Development','App-Development',None,'Web-Development','IT'],
    "Salary":[2000,None,2500,None,4000,2500,3000,2000,2000]

}

In [58]:
df=pd.DataFrame(data)
df

    Name   Age       Department  Salary
0    Sam  35.0               IT  2000.0
1   Ravi   NaN  Web-Development     NaN
2   Zoya  35.0  App-Development  2500.0
3    Ali  30.0               IT     NaN
4     Xi  32.0  Web-Development  4000.0
5  Chang  35.0  App-Development  2500.0
6   Deep  40.0             None  3000.0
7   Neha  35.0  Web-Development  2000.0
8    Sam  35.0               IT  2000.0

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        9 non-null      object
 1   Age         8 non-null      float64
 2   Department  8 non-null      object
 3   Salary      7 non-null      float64
dtypes: float64(2), object(2)
memory usage: 420.0+ bytes

In [63]:
df.isnull()

    Name    Age  Department  Salary
0  False  False       False   False
1  False   True       False    True
2  False  False       False   False
3  False  False       False    True
4  False  False       False   False
5  False  False       False   False
6  False  False        True   False
7  False  False       False   False
8  False  False       False   False

In [64]:
df.isnull().sum()

Name          0
Age           1
Department    1
Salary        2
dtype: int64

In [65]:
df

    Name   Age       Department  Salary
0    Sam  35.0               IT  2000.0
1   Ravi   NaN  Web-Development     NaN
2   Zoya  35.0  App-Development  2500.0
3    Ali  30.0               IT     NaN
4     Xi  32.0  Web-Development  4000.0
5  Chang  35.0  App-Development  2500.0
6   Deep  40.0             None  3000.0
7   Neha  35.0  Web-Development  2000.0
8    Sam  35.0               IT  2000.0

In [66]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

/tmp/ipython-input-694922604.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)

In [67]:
#df.method({col: value}, inplace=True)
df.fillna({'Age':df['Age'].mean()},inplace=True)

In [68]:
df

    Name     Age       Department  Salary
0    Sam  35.000               IT  2000.0
1   Ravi  34.625  Web-Development     NaN
2   Zoya  35.000  App-Development  2500.0
3    Ali  30.000               IT     NaN
4     Xi  32.000  Web-Development  4000.0
5  Chang  35.000  App-Development  2500.0
6   Deep  40.000             None  3000.0
7   Neha  35.000  Web-Development  2000.0
8    Sam  35.000               IT  2000.0

In [69]:
df.fillna({'Salary':df['Salary'].median()},inplace=True)

In [70]:
df

    Name     Age       Department  Salary
0    Sam  35.000               IT  2000.0
1   Ravi  34.625  Web-Development  2500.0
2   Zoya  35.000  App-Development  2500.0
3    Ali  30.000               IT  2500.0
4     Xi  32.000  Web-Development  4000.0
5  Chang  35.000  App-Development  2500.0
6   Deep  40.000             None  3000.0
7   Neha  35.000  Web-Development  2000.0
8    Sam  35.000               IT  2000.0

In [71]:
df.fillna({'Department':df['Department'].mode()[0]},inplace=True)

In [73]:
df

    Name     Age       Department  Salary
0    Sam  35.000               IT  2000.0
1   Ravi  34.625  Web-Development  2500.0
2   Zoya  35.000  App-Development  2500.0
3    Ali  30.000               IT  2500.0
4     Xi  32.000  Web-Development  4000.0
5  Chang  35.000  App-Development  2500.0
6   Deep  40.000               IT  3000.0
7   Neha  35.000  Web-Development  2000.0
8    Sam  35.000               IT  2000.0

In [74]:
df.drop_duplicates(inplace=True)

In [75]:
df

    Name     Age       Department  Salary
0    Sam  35.000               IT  2000.0
1   Ravi  34.625  Web-Development  2500.0
2   Zoya  35.000  App-Development  2500.0
3    Ali  30.000               IT  2500.0
4     Xi  32.000  Web-Development  4000.0
5  Chang  35.000  App-Development  2500.0
6   Deep  40.000               IT  3000.0
7   Neha  35.000  Web-Development  2000.0

In [76]:
df.to_csv('employees.csv',index=False)

In [77]:
df.to_excel('employees.xlsx',index=False)

In [78]:
data={
    "Name":['sam','Ravi','ZoyA   ','Ali',' Xi','Chang  ','Deep','neHa','Sam'],
    "Age":[35,34,35,30,32,35,40,35,35]

}

In [80]:
df_student=pd.DataFrame(data)
df_student

      Name  Age
0      sam   35
1     Ravi   34
2  ZoyA      35
3      Ali   30
4       Xi   32
5  Chang     35
6     Deep   40
7     neHa   35
8      Sam   35

In [81]:
df_student['Name']=df_student['Name'].str.strip().str.capitalize()

In [82]:
df_student

    Name  Age
0    Sam   35
1   Ravi   34
2   Zoya   35
3    Ali   30
4     Xi   32
5  Chang   35
6   Deep   40
7   Neha   35
8    Sam   35

####Use the given data_set ,using pandas data frame do the following tasks:
* Display the info,shape and first 3 rows of the dataset
* check the missing values in each column
* Handle missing values (a):Fill Mathematics,Physics,Chemistry by average values (b) Fill Missig Grade by "Not Assigned"

* Remove the duplicate records
* Clean Name column by removing extra space and convert value to uppercase
* Saved the cleaned data to student_performance_cleaned.csv

In [87]:
data_set={
    "Name":['sam   ','Ravi','Ani','Vini','Alim','ZoYa','Ali','Xi','Chang','DeEp','niDhi','Ani'],
    "Mathematics":[78,66,78,89,90,76,None,89,85,76,55,89],
    "Physics":[76,None,87,85,83,80,75,89,80,None,60,85],
    "Chemistry":[89,65,76,90,None,87,98,90,90,78,65,90],
     "Grade":['A','C','B','A','A','B','B','A',None,'B','C','A']
}

In [89]:
df=pd.DataFrame(data_set)
df

      Name  Mathematics  Physics  Chemistry Grade
0   sam            78.0     76.0       89.0     A
1     Ravi         66.0      NaN       65.0     C
2      Ani         78.0     87.0       76.0     B
3     Vini         89.0     85.0       90.0     A
4     Alim         90.0     83.0        NaN     A
5     ZoYa         76.0     80.0       87.0     B
6      Ali          NaN     75.0       98.0     B
7       Xi         89.0     89.0       90.0     A
8    Chang         85.0     80.0       90.0  None
9     DeEp         76.0      NaN       78.0     B
10   niDhi         55.0     60.0       65.0     C
11     Ani         89.0     85.0       90.0     A

#DataCleaning of /content/sample_data/Titanic-Dataset.csv

In [90]:
df_titanic=pd.read_csv('/content/sample_data/Titanic-Dataset.csv')

In [98]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [94]:
df_titanic.shape

(891, 12)

In [99]:
df_titanic.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [96]:
df_titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [102]:
#df.method({col: value}, inplace=True)
df_cleaned=df_titanic.fillna({'Age':df_titanic['Age'].median()})

In [103]:
df_cleaned.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [104]:
df_cleaned=df_cleaned.fillna({'Cabin':df_cleaned['Cabin'].mode()[0]})

In [105]:
df_cleaned.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [106]:
df_cleaned.shape

(891, 12)

In [107]:
df_cleaned.dropna(inplace=True)

In [108]:
df_cleaned.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [109]:
df_cleaned.shape

(889, 12)

In [110]:
df_cleaned

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,B96 B98,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,28.0,1,2,W./C. 6607,23.4500,B96 B98,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,B96 B98,Q

In [112]:
df_cleaned['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 889, dtype: object

In [113]:
df_cleaned.to_csv('Titanic_cleaned.csv',index=False)