**A dictionary is a collection datatype that stores data in key-value pairs.**
* mutable
* key must be unique
* value might be duplicate
* {'key':'value'}

In [1]:
player={'name':'Lionel Messi','age':35,'country':'Argentina','ptype':'footballer'}
print(player)
#

{'name': 'Lionel Messi', 'age': 35, 'country': 'Argentina', 'ptype': 'footballer'}

In [2]:
print('All Keys')
for k in player.keys():
  print(k)

All Keys
name
age
country
ptype

In [3]:
print('All Values')
for v in player.values():
  print(v)

All Values
Lionel Messi
35
Argentina
footballer

In [6]:
print('All Items')
for i in player.items():
  print(i)

All Items
('name', 'Lionel Messi')
('age', 35)
('country', 'Argentina')
('ptype', 'footballer')

In [4]:
print('All Key-Value Pairs')
for k,v in player.items():
  print(k,v)

All Key-Value Pairs
name Lionel Messi
age 35
country Argentina
ptype footballer

In [5]:
print('Key \t Value ')
for k in player.keys():
  print(k,'\t',player[k])

Key 	 Value
name 	 Lionel Messi
age 	 35
country 	 Argentina
ptype 	 footballer

In [7]:
# Add new field to dictionary['key']=value
player['club']='PSG'
print(player)

{'name': 'Lionel Messi', 'age': 35, 'country': 'Argentina', 'ptype': 'footballer', 'club': 'PSG'}

In [8]:
player['weight_in_kg']=67

In [9]:
print('All Key-Value Pairs after changing')
for k,v in player.items():
  print(k,v)

All Key-Value Pairs after changing
name Lionel Messi
age 35
country Argentina
ptype footballer
club PSG
weight_in_kg 67

In [10]:
# update field in dictionary dictionary['key']=newvalue
player['club']='Real Madrid'
print(player)

{'name': 'Lionel Messi', 'age': 35, 'country': 'Argentina', 'ptype': 'footballer', 'club': 'Real Madrid', 'weight_in_kg': 67}

In [12]:
player['weight_in_kg']=68
print(player)

{'name': 'Lionel Messi', 'age': 35, 'country': 'Argentina', 'ptype': 'footballer', 'club': 'Real Madrid', 'weight_in_kg': 68}

In [13]:
player.pop('club') #delete key value pair from dictionary

'Real Madrid'

In [14]:
print(player)

{'name': 'Lionel Messi', 'age': 35, 'country': 'Argentina', 'ptype': 'footballer', 'weight_in_kg': 68}

In [21]:
# key exist or not
search_key=input('Enter Key to Search: ')
if search_key in player:
  print('Key Exist')
  print(f'{search_key} is: ',player[search_key])
else:
  print('Key Not Exist')

Enter Key to Search: weight_in_kg
Key Exist
weight_in_kg is:  68

In [27]:
#Nested Dictionary
employees= { "e1":{'id':101,'name':'sam','dept':'IT'},
            "e2":{'id':102,'name':'ram','dept':'HR'},
            "e3": { 'id':103,'name':'rohit','dept':'Web-Development'},
             "e4":{'id':117,'name':'arsh','dept':'HR'}
          }

In [28]:
print('All Employees')
for k,v in employees.items():
  print(k,v)

All Employees
e1 {'id': 101, 'name': 'sam', 'dept': 'IT'}
e2 {'id': 102, 'name': 'ram', 'dept': 'HR'}
e3 {'id': 103, 'name': 'rohit', 'dept': 'Web-Development'}
e4 {'id': 117, 'name': 'arsh', 'dept': 'HR'}

In [29]:
print('All Employees')
for k,v in employees.items():
 print(f'ID: {v["id"]}\tName: {v["name"]}\tDept: {v["dept"]}')

All Employees
ID: 101	Name: sam	Dept: IT
ID: 102	Name: ram	Dept: HR
ID: 103	Name: rohit	Dept: Web-Development
ID: 117	Name: arsh	Dept: HR

In [34]:
student={}
while True:
  print('\n ---Student Record System ---')
  print('1. Add Student')
  print('2. Display Detail')
  print('3. Update Detail')
  print('4. Delete Record')
  print('5. Exit')
  choice=int(input('Enter Your Choice(1-3): '))
  if choice==1:
    print('Add Student')
    student['name']=input('Enter Name: ')
    student['city']=input('Enter City: ')
    print('Student Added Successfully')
  elif choice==2:
   if student:
     print('Student Detail')
     print('Name: ',student['name'])
     print('City: ',student['city'])
   else:
     print('No Student Detail Found')
  elif choice==3:
    if student:
      field=input('Enter Field to Update: ')
      if field in student:
        student[field]=input(f'Enter New Value: for {field} ')
        print('Updated Successfully')
      else:
        print('Invalid Field')
    else:
      print('No Student Detail Found')

  elif choice==4:
    if student:
      student.clear()
      print('Record Deleted Successfully')
    else:
      print('No Record found')

  elif choice==5:
    print('The End')
    break
  else:
    print('\n Invalie Choice choose 1 to 3 only')

 ---Student Record System ---
1. Add Student
2. Display Detail
3. Update Detail
4. Delete Record
5. Exit
Enter Your Choice(1-3): 4
No Record found

 ---Student Record System ---
1. Add Student
2. Display Detail
3. Update Detail
4. Delete Record
5. Exit
Enter Your Choice(1-3): 1
Add Student
Enter Name: Sandeep
Enter City: KL
Student Added Successfully

 ---Student Record System ---
1. Add Student
2. Display Detail
3. Update Detail
4. Delete Record
5. Exit
Enter Your Choice(1-3): 2
Student Detail
Name:  Sandeep
City:  KL

 ---Student Record System ---
1. Add Student
2. Display Detail
3. Update Detail
4. Delete Record
5. Exit
Enter Your Choice(1-3): 4
Record Deleted Successfully

 ---Student Record System ---
1. Add Student
2. Display Detail
3. Update Detail
4. Delete Record
5. Exit
Enter Your Choice(1-3): 5
The End

In [52]:
students=[]

In [53]:
print(students)

[]

In [54]:
students.append({'name':'sam','city':'Delhi','age':30})

In [55]:
print(students)

[{'name': 'sam', 'city': 'Delhi', 'age': 30}]

In [56]:
students.append({'name':'ram','city':'Mumbai','age':25})

In [57]:
print(students)

[{'name': 'sam', 'city': 'Delhi', 'age': 30}, {'name': 'ram', 'city': 'Mumbai', 'age': 25}]

**Day-03 Exercise -01**
#### A. Create a dictionary called product with following info:
* id  119
* name 'IPhone-16'
* price 5500.50

---
Do the following things:
1. Print the Name and Price of Product
2. Add a new key 'company' with value 'apple'
3. Change the price to 5000.25
4. Print all keys of the product dictionary
5. Print all items of the product dictionary

In [63]:
product={'id':119,'name':'IPhone-16','price':5500.50} #A.

In [67]:
print('Name: \t',product['name'])   # 1.
print('Price: \t',product['price'])

Name: 	 IPhone-16
Price: 	 5500.5

In [69]:
product['company']='apple' #2.

In [71]:
product['price']=5000.25  #3. Change the price to 5000.25

In [73]:
print('All Keys')      #4. Print all keys of the product dictionary
for k in product.keys():
  print(k)

All Keys
id
name
price
company

In [74]:
print('All Items')              # 5. Print all items of the product dictionary
for i in product.items():
  print(i)

All Items
('id', 119)
('name', 'IPhone-16')
('price', 5000.25)
('company', 'apple')