In [1]:
#union,intersection, difference
set_one={10,20,30,40,50}
set_two={5,10,15,20,25,30}

In [2]:
#union
set_union=set_one.union(set_two)
print('Union of both sets')
print(set_union)

Union of both sets
{5, 40, 10, 15, 50, 20, 25, 30}

In [3]:
#intersection
set_intersection=set_one.intersection(set_two)
print('Intersection of both sets')
print(set_intersection)

Intersection of both sets
{10, 20, 30}

In [4]:
# difference
set_difference_1=set_one.difference(set_two)
print('Difference of both sets')
print(set_difference_1)

Difference of both sets
{40, 50}

In [5]:
set_difference_2=set_two.difference(set_one)
print('Difference of both sets')
print(set_difference_2)
#

Difference of both sets
{25, 5, 15}

In [6]:
s1={10,20}
s2={5,10}

In [7]:
print(s1.union(s2))

{10, 20, 5}

In [8]:
print(s1.intersection(s2))

{10}

In [18]:
course_one={'Python','Power BI','Excel','SQL','Time Management','Soft Skill'}
course_two={'Python','Excel','Soft Skill','TesnorFlow','Azure','GitHub','Tableau'}
print(course_one)
print(course_two)
print('Number of subjects in course_one',len(course_one))
print('Number of subjects in course_two',len(course_two))
#

{'SQL', 'Time Management', 'Soft Skill', 'Excel', 'Power BI', 'Python'}
{'Tableau', 'Azure', 'GitHub', 'Soft Skill', 'Excel', 'TesnorFlow', 'Python'}
Number of subjects in course_one 6
Number of subjects in course_two 7

In [19]:
common_subjects=course_one.intersection(course_two)
print('Common subjects in both courses')
for subject in common_subjects:
    print(subject)

Common subjects in both courses
Soft Skill
Excel
Python

In [20]:
# if i take both the courses ,what all subjects ,i got , number of subjects
all_subjects=course_one.union(course_two)
print('Number of subjects covered: ',len(all_subjects))
print('All subjects in both courses')

for subject in all_subjects:
    print(subject)

Number of subjects covered:  10
All subjects in both courses
Tableau
Time Management
Soft Skill
Python
Azure
GitHub
SQL
Excel
Power BI
TesnorFlow

In [ ]:
#The subjects Covered by course_one only ,(the subjects are in course_one but not in course_two) number of subjects

In [21]:
course_one_only=course_one.difference(course_two)
print('Number of subjects covered by course_one only: ',len(course_one_only))
print('Subjects covered by course_one only')

for subject in course_one_only:
    print(subject)

Number of subjects covered by course_one only:  3
Subjects covered by course_one only
SQL
Power BI
Time Management

In [22]:
course_two_only=course_two.difference(course_one)
print('Number of subjects covered by course_two only: ',len(course_two_only))
print('Subjects covered by course_two only')

for subject in course_two_only:
    print(subject)

Number of subjects covered by course_two only:  4
Subjects covered by course_two only
Tableau
Azure
GitHub
TesnorFlow