**Welcome to Python**

In [4]:
print('Welcome to Python')

Welcome to Python

In [5]:
print('Hi')

Hi

In [8]:
username='alia'
print('Welcome Mr.\\Ms.',username)

Welcome Mr.\Ms. alia

In [11]:
firstname=input('Enter your first name:')
print('Welcome Mr.\\Ms.',firstname)

Enter your first name:John
Welcome Mr.\Ms. John

In [12]:
num1=23
num2=12
addition=num1+num2
print('Number One:\t',num1,'Number Two:\t',num2,'Addition Result:\t',addition)

Number One:	 23 Number Two:	 12 Addition Result:	 35

In [14]:
print('Type of num1',type(num1))

Type of num1 <class 'int'>

In [15]:
print('Type of username',type(username))

Type of username <class 'str'>

In [20]:
num1=45

In [21]:
print(f'first number {num1} second number {num2} Result aftter addition {addition}')

first number 45 second number 12 Result aftter addition 35

In [31]:
first_num=int(input('Enter the first number:\t'))
second_num=int(input('Enter the second number:\t'))
print('First Number is: ',first_num)
print('Second Number is',second_num)
addition=first_num+second_num
print('Addition of two numbers is: ',addition)

Enter the first number:	11
Enter the second number:	13
First Number is:  11
Second Number is 13
Addition of two numbers is:  24

In [35]:
num=34.5999
print(type(num))
print('Value of num: \t',num)

<class 'float'>
Value of num: 	 34.5999

In [33]:
our_num=float(input('Enter the number:\t'))
print('Number is: ',our_num)

Enter the number:	12.45
Number is:  12.45

In [38]:
comp_num=5+6j
print('Complex Number is ',comp_num)
print('Type of comp_num',type(comp_num))

Complex Number is  (5+6j)
Type of comp_num <class 'complex'>

In [50]:
#Arithmetic operation
num1=int(input('Enter the first number:\t'))
num2=int(input('Enter the second number:\t'))
# add=num1+num2
# print(f'Addition of {num1} and {num2} is= \t {add}')
# sub=num1-num2
# print(f'Subtraction of {num2} from {num1} is= \t {sub}')
# mul=num1*num2
# print(f'Multiplication of {num1} and {num2} is= \t {mul}')
div=num1/num2
print(f'Division of {num1} by {num2} is= \t {div}')
integer_div=num1//num2
print(f'Integer Division of {num1} by {num2} is= \t {integer_div}')
remainder=num1%num2
print(f'Remainder of {num1} divided by {num2} is= \t {remainder}')

Enter the first number:	13
Enter the second number:	5
Division of 13 by 5 is= 	 2.6
Integer Division of 13 by 5 is= 	 2
Remainder of 13 divided by 5 is= 	 3

In [53]:
num=int(input('Enter the number:\t'))
power=int(input('Enter the power:\t'))
result=num**power
print(f'Number: {num} power {power} is= \t {result}')

Enter the number:	5
Enter the power:	4
Number: 5 power 4 is= 	 625

* Take product price from user
* Take  discount from user
* Show Price before discount, discount and discounted price

In [54]:
product_price=int(input('Enter the product price:\t'))
discount=int(input('Enter the discount:\t'))
discounted_price=product_price-discount
print('Product Price:\t',product_price)
print('Discount:\t',discount)
print('Discounted Price:\t',discounted_price)

Enter the product price:	450
Enter the discount:	58
Product Price:	 450
Discount:	 58
Discounted Price:	 392

In [57]:
product_price=float(input('Enter the product price:\t'))
discount=float(input('Enter the discount %:\t'))
discount=(discount/100)*product_price
discounted_price=product_price-discount
print(f'Product Price:\t {product_price} Discount:\t {discount} Discounted Price:\t {discounted_price}')

Enter the product price:	2000
Enter the discount %:	20
Product Price:	 2000.0 Discount:	 400.0 Discounted Price:	 1600.0

## **Day-01** Exercise-01
---

1.  Take following details from the user
    * BasicSalary
    * HRA
    * TA
   
2.  Calculate
    NetSalary =BasicSalary +(BasicSalary * HRA%)+(BasicSalary * TA%)
3.  Print all values clearly

In [61]:
basic_salary=float(input('Enter the basic salary:\t'))
hra=float(input('Enter the HRA %:\t'))
ta=float(input('Enter the TA %:\t'))
hra=(hra/100)*basic_salary
ta=(ta/100)*basic_salary
net_salary=basic_salary+hra+ta
print('Basic Salary: \t',basic_salary)
print('HRA: \t',hra)
print('TA: \t',ta)
print('Net Salary \t',net_salary)

Enter the basic salary:	1200
Enter the HRA %:	20
Enter the TA %:	15
Basic Salary: 	 1200.0
HRA: 	 240.0
TA: 	 180.0
Net Salary 	 1620.0