**Object Oriented Programming System:** is a programming way to organize code using objects and classes.
* reusable
* modular
* easy to maintain

In [ ]:
#A class is an/a  object factory or blueprint for creating object or template for objects
# class ClassName:
#     def __init__(self):    # Constructor
#        #constructro body

#     def function_name():
#       #function body

# object is an instance of the class (object is real time entity for class)
#objectName = ClassName()
#objectName.MemberName

In [1]:
class Employee:
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary

    def display(self):
      print('Employee Name: \t',self.name)
      print('Employee Salary \t',self.salary)

In [5]:
e1=Employee('Sam',5500.75)
e2=Employee('Tom',6500.75)
e3=Employee('Bob',7500.75)

In [7]:
print('First Employee Details as follows')
e1.display()

First Employee Details as follows
Employee Name: 	 Sam
Employee Salary 	 5500.75

In [4]:
print('Second Employee Details as follows')
e2.display()

Second Employee Details as follows
Employee Name: 	 Tom
Employee Salary 	 6500.75

In [9]:
class Product:
    def __init__(self, name, price,mfDate):
        self.name = name
        self.price = price
        self.mfDate = mfDate
    def details(self):
        print('Product Name: \t',self.name)
        print('Product Price: \t',self.price)
        print('Product Manufacture Date: \t',self.mfDate)

In [12]:
product1=Product('Herbal Shampoo',120,'24-10-2025')
product2=Product('Herbal Oil',150,'24-07-2024')
product3=Product('Herbal Soap',100,'24-11-2022')
product4=Product('Herbal Cream',130,'09-12-2024')

In [13]:
print('First Product Details as follows')
product1.details()
print('Second Product Details as follows')
product2.details()
print('Third Product Details as follows')
product3.details()
print('Fourth Product Details as follows')
product4.details()

First Product Details as follows
Product Name: 	 Herbal Shampoo
Product Price: 	 120
Product Manufacture Date: 	 24-10-2025
Second Product Details as follows
Product Name: 	 Herbal Oil
Product Price: 	 150
Product Manufacture Date: 	 24-07-2024
Third Product Details as follows
Product Name: 	 Herbal Soap
Product Price: 	 100
Product Manufacture Date: 	 24-11-2022
Fourth Product Details as follows
Product Name: 	 Herbal Cream
Product Price: 	 130
Product Manufacture Date: 	 09-12-2024

In [14]:
print(product1)

<__main__.Product object at 0x79e716ea5eb0>

In [24]:
class Product:
    def __init__(self, name, price,mfDate):
        self.name = name
        self.price = price
        self.mfDate = mfDate
    def __str__(self):
        return 'Product Name: \t'+self.name+'\nProduct Price: \t'+str(self.price)+'\nProduct Manufacture Date: \t'+self.mfDate

In [25]:
product1=Product('Herbal Shampoo',120,'24-10-2025')
product2=Product('Herbal Oil',150,'24-07-2024')
product3=Product('Herbal Soap',100,'24-11-2022')
product4=Product('Herbal Cream',130,'09-12-2024')

In [27]:
print('First Product Details as follows')
print(product1)
print('Second Product Details as follows')
print(product2)

First Product Details as follows
Product Name: 	Herbal Shampoo
Product Price: 	120
Product Manufacture Date: 	24-10-2025
Second Product Details as follows
Product Name: 	Herbal Oil
Product Price: 	150
Product Manufacture Date: 	24-07-2024

In [34]:
class BankAccount:
  def __init__(self, balance):
       self.balance = balance

  def get_balance(self):
    return self.balance

  def deposit(self,amount):
    self.balance+=amount

  def withdraw(self,amount):
    if(self.balance>=amount):
      self.balance-=amount
      print('Transaction success')
    else:
      print('Insufficient Amount in Account')
      print('Transaction Declined')

In [36]:
balance=int(input('Enter your balance: '))
account=BankAccount(balance)
print('Account created successfully')
while True:
  print('1. Deposit')
  print('2. Withdraw')
  print('3. Check Balance')
  print('4. Exit')
  choice=int(input('Enter your choice: '))
  if(choice==1):
      amount=int(input('Enter the amount to deposit: '))
      account.deposit(amount)
      print('Amount deposited successfully')
  elif(choice==2):
    amount=int(input('Enter the amount to withdraw'))
    account.withdraw(amount)
  elif (choice==3):
    print('Your balance is: ',account.get_balance())
  elif (choice==4):
    break
  else:
    print('Invalid choice')

Enter your balance: 3000
Account created successfully
1. Deposit
2. Withdraw
3. Check Balance
4. Exit
Enter your choice: 1
Enter the amount to deposit: 2000
Amount deposited successfully
1. Deposit
2. Withdraw
3. Check Balance
4. Exit
Enter your choice: 3
Your balance is:  5000
1. Deposit
2. Withdraw
3. Check Balance
4. Exit
Enter your choice: 2
Enter the amount to withdraw300
Transaction success
1. Deposit
2. Withdraw
3. Check Balance
4. Exit
Enter your choice: 3
Your balance is:  4700
1. Deposit
2. Withdraw
3. Check Balance
4. Exit
Enter your choice: 2
Enter the amount to withdraw50000
Insufficient Amount in Account
Transaction Declined
1. Deposit
2. Withdraw
3. Check Balance
4. Exit
Enter your choice: 3
Your balance is:  4700
1. Deposit
2. Withdraw
3. Check Balance
4. Exit
Enter your choice: 4

In [ ]:
#Inheritance

In [39]:
class Emp:
  def __init__(self):
    print("Emp Constructor")

In [40]:
class Dev(Emp):
  def __init__(self):
    super().__init__()
    print("Developer Constructor")

In [42]:
e1=Emp()

Emp Constructor

In [43]:
d1=Dev()

Emp Constructor
Developer Constructor

In [44]:
class Employee:
  def __init__(self, id,name,qual):
    self.id=id
    self.name=name
    self.qual=qual

  def __str__(self):
     return f'ID: {self.id} \nName: {self.name} \nQualification:{self.qual}'

In [66]:
emp1=Employee(101,'Sam','MCA')
print(emp1)
emp2=Employee(102,'Tom','BTECH')
print(emp2)

ID: 101
Name: Sam
Qualification:MCA
ID: 102
Name: Tom
Qualification:BTECH

In [67]:
class Developer(Employee):
  def __init__(self,id,name,qual,project,domain):
    super().__init__(id,name,qual)
    self.project=project
    self.domain=domain

  def __str__(self):
    return f'ID: {self.id} \nName: {self.name} \nQualification:{self.qual} \n Project: {self.project} \n Domain: {self.domain}'

In [74]:
dev_one=Developer(113,'Sameer','BTech','e-carnival','Java')
dev2=Developer(114,'Raj','MCA','ai-model-creation','Python')

In [75]:
print(dev_one)
print(dev2)

ID: 113
Name: Sameer
Qualification:BTech
 Project: e-carnival
 Domain: Java
ID: 114
Name: Raj
Qualification:MCA
 Project: ai-model-creation
 Domain: Python

In [92]:
class Product:
  def __init__(self):  #constructor
    print('Product Constructor Call')
    self.id=0
    self.name=''
    self.price=0.0
  def reg(self):     #method
    self.id=int(input('Enter  Id: '))
    self.name=input('Enter Name: ')
    self.price=float(input('Enter Price:'))
  def display(self):
    print('ID: \t',self.id)
    print('Name: \t',self.name)
    print('Price: \t',self.price)

In [93]:
p1=Product()
p2=Product()

Product Constructor Call
Product Constructor Call

In [94]:
p1.reg()  #objectName.MethodName()

Enter  Id: 12
Enter Name: Laptop
Enter Price:11500

In [95]:
print('Product One Details')
p1.display()
print('Product Two Details')
p2.display()

Product One Details
ID: 	 12
Name: 	 Laptop
Price: 	 11500.0
Product Two Details
ID: 	 0
Name:
Price: 	 0.0

**Day-5 Exercise -01**
---
### Create a Mobile class to store mobile phone details (brand,model, price) and display them using method.
* Create class Mobile
* Use Constructor( __ init __ ) to accept (brand,model,price)
* create method show_info() to print mobile information
* Create at least two objects and call methods

In [96]:
class Mobile:
  def __init__(self,brand,model,price):
    self.brand=brand
    self.model=model
    self.price=price
  def show_info(self):
    print('Brand: \t',self.brand)
    print('Model: \t',self.model)
    print('Price: \t',self.price)

In [98]:
obj1=Mobile('Samsung','A52',15000)
obj2=Mobile('Apple','Iphone 14',120000)
print('First Mobile Information')
obj1.show_info()
print('Second Mobile Information')
obj2.show_info()

First Mobile Information
Brand: 	 Samsung
Model: 	 A52
Price: 	 15000
Second Mobile Information
Brand: 	 Apple
Model: 	 Iphone 14
Price: 	 120000